<% direction = "left"%> 
<% @master_list.list_categories.each do |cat| %> 
  <div class="card lg-card float-<%=direction%>"> 
  <h1>  <%= cat.name %>   </h1> 
  <% cat.list_subcategories.each do |subcat| %> 
    <p> <%= subcat.name %>  </p> 
  <% if direction == "right" %> 
   <% direction == "left" %> 
  <% else %> 
   <% direction == "right"%> 
  <% end %> 
  <% end %> 
  </div>
<% end %> 