<div class = "text-center"> 
  <div class = "row"> 
    <div class = "col-md-12 text-center">
      <h1>Find your way home</h1>
    </div> 
  </div> 
  <div class = "row"> 
    <div class = "col-md-2"></div> 
    <div class = "col-md-8">
      <div class = "card sm-card text-center float-left">  
      <%=link_to "Create an Apartment", new_group_path(current_user), class: "btn btn-success" %>
      </div>
      <div class = "card sm-card text-center float-left">  
        <%=link_to "Find an Apartment", find_group_path(current_user), class: "btn" %>
      </div>
    </div>
    <div class = "col-md-2"></div>
  </div> 
</div>