<table class = "table text-center"> 
  <tr class="text-center"> 
    <th><h2> Item </h2></th> 
    <th><h2> Link to Buy </h2></th> 
  </tr>
  <% @list_subcategories.each do |subcat| %>
  <tr>  
      <td> <%= subcat.name %> <%= link_to "---", i_have_this_path(subcat), class: "checkbox" %> </td> 
      <td><%= ListSubcategory.search_for(subcat.name)[0]%></td> 
  </tr> 
  <% end %> 
</table> 
