/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */


@import "bootstrap-sprockets";
@import "bootstrap";
/*@import 'nprogress-bootstrap ';*/



html {
  min-height: 100%;
}

body {
  font-family: 'PT sans', 'Lucida Grande', 'Helvetica Neue', sans-serif;
  height:100vh;
  background-color:white; 
  // background-image: url("http://i.imgur.com/tW01Tq4.jpg"); 
  background-repeat: true;
  .container {
    background-color: rgba(0, 0, 0, 0.78);
    min-height: 50%;
    width: 96%;
    color: white;
    box-shadow: 14px 4px 1px #161616;
    padding: 12% 4% 4% 4%;
  }
}

h1 {
  font-style: bold;
  font-weight: 800;
}

ul {
  margin: 0 auto;
  width: 50%;
}
li a {
  color: black;
  font-style: bold;
  letter-spacing: 0.4px;
}

form {
  margin-bottom: 5.4%;
}



// .filter {
//   z-index:1; 
//   background-color: rgba(0, 0, 0, 0.6);
//   height: 100%;
//   width:100%;
// }

input {
  color:black;
}

.hero_image {
  background-color: white;
  width:90px;
}

p.fixed_name {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 155, 168, 0.44);
  padding: 2% 0 0 1%;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.49);
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.28);
}


.big_note {
  height: 10%;
  width: 22%;
}
.small_note {
  height: 10%;
  width: 12%;
}

.float_right { 
  right:2%; 
}

.float_left { 
  left:2%; 
}

.nav-tabs {
  background-color: rgba(3, 84, 176, 0.99);
  width: 100vw;
  height: 8vw;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  border: transparent;
  li {
    float: left;
  }
}
.nav-tabs > li > a {
  margin: 0 0 25% 0;
  line-height: 4;
  border: 1px solid transparent;
  height: 50px;
  font-family: 'PT sans', 'Lucida Grande', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(254, 254, 254, 1);
}

.nav-tabs > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 3px 1px rgba(200, 200, 200, 1);
  box-shadow: 0px 0px 0px white;
  border: transparent;
}

a:hover {
  box-shadow: none; 
  border:none; 
}

a p {
  color: white;
  text-decoration: none;
  /* text-overflow: ellipsis; */
  font-style: normal;
  font-family:'PT sans', 'Lucida Grande', 'Helvetica Neue', sans-serif;
  font-size:14px; 
  letter-spacing: 1px;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  font-size:14px; 
}

.alert {
  border: 1px solid transparent;
  border-radius: 0px;
  position: fixed;
  text-align: center;
  background-color: rgba(100, 175, 175, 1);
  color: white;
  width: 100%;
  bottom: 0;
  letter-spacing: 1px;
  text-shadow: 1px 0px 0px grey; 
  box-shadow: 3px 3px 2px rgba(6, 6, 6, 0.3);
}


.title_row {
  margin: 0 0 5% 0;
}

.btn {
  border-radius: 0px;
  border: 2.8px solid white;
  background-color: rgba(0, 0, 0, 0);
  letter-spacing: 0.5px;
  color: white;
  font-weight: 500;
  box-shadow: 3px 3px 2px rgba(6, 6, 6, 0.3);
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 3px 4px 6px rgba(6, 6, 6, 0.55);
  border: 2.8px solid white;
  text-shadow: 0px 2px 1px grey; 
}
.btn_bottom {
  margin: 0 0 50px 0;
}

.btn-admin {
  // color: #F0D97C;
  // background-color: #231388;
  // border-color: #1A1B1A;
  display: block;
  margin: 10px auto;
  width: 30%;
}

.center {
  margin: 5% 0 0 16%;
}



// Progress bar 

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 10px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 20px #29d, 0 0 15px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

.page_modal {
  width:10000px;
  height:10000px; 
  background-color: rgba(0,0,0,1);
  position:absolute; 
  left:0;
  top:0;
}



@import url(http://fonts.googleapis.com/css?family=PT+Sans);


